trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - "*"

variables:
  Location: westus
  ResourceGroupName: rg-edge-pub-westus
  PrimaryDNSZone: ppanda.org
  AzureServiceConnection: spn-deploy-edge-pub-westus

stages:
- stage: DeployDNS
  displayName: DNS Deployment
  jobs:
  - job: Deploy
    displayName: What-If or Deploy
    pool:
      vmImage: ubuntu-latest

    steps:
    - checkout: self

    - task: AzureCLI@2
      displayName: Deploy DNS
      inputs:
        connectedServiceNameARM: $(AzureServiceConnection)
        scriptType: pscore
        scriptLocation: scriptPath
        scriptPath: deploy-dns.ps1
        arguments: >
          -ResourceGroupName "$(ResourceGroupName)"
          -Location "$(Location)"
          -PrimaryDNSZone "$(PrimaryDNSZone)"
          -BuildReason "$(Build.Reason)"
