## template: jinja
#cloud-config
---
disable_root: true
package_update: true
package_upgrade: true
ssh_pwauth: false
ssh_import_id: [ 'gh:yuzhoumo' ]
timezone: America/Los_Angeles

apt:
  sources:
    tailscale.list:
      source: "deb [arch={{ 'amd64' if v1.machine == 'x86_64' else 'arm64' }} signed-by=/etc/apt/trusted.gpg.d/tailscale.gpg] https://pkgs.tailscale.com/stable/ubuntu {{ v1.distro_release }} main"
      keyid: 2596A99EAAB33821893C0A79458CA832957F5868
    docker.list:
      source: "deb [arch={{ 'amd64' if v1.machine == 'x86_64' else 'arm64' }} signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/ubuntu {{ v1.distro_release }} stable"
      keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
    azure-cli.list:
      source: "deb [arch={{ 'amd64' if v1.machine == 'x86_64' else 'arm64' }} signed-by=/etc/apt/trusted.gpg.d/azure-cli.gpg] https://packages.microsoft.com/repos/azure-cli {{ v1.distro_release }} main"
      keyid: BC528686B50D79E339D3721CEB3E94ADBE1229CF
    gvisor.list:
      source: "deb [arch={{ 'amd64' if v1.machine == 'x86_64' else 'arm64' }} signed-by=/etc/apt/trusted.gpg.d/gvisor.gpg] https://storage.googleapis.com/gvisor/releases release main"
      keyid: 6F1DF85E3A71C24918E727D56FC6D554E32BD943

packages:
  - azure-cli
  - docker-ce
  - docker-ce-cli
  - runsc
  - tailscale

groups:
  - docker

system_info:
  default_user:
    groups: [ sudo, docker ]

systemd:
  units:
    - name: docker.service
      enabled: true
      state: started

sysctl:
  # configure ip forwarding for tailscale
  net.ipv4.ip_forward: 1
  net.ipv6.conf.all.forwarding: 1

write_files:
  # configure gvisor docker runtime
  - path: /etc/docker/daemon.json
    owner: root:root
    permissions: '0644'
    content: |
      {
        "runtimes": {
          "runsc": {
            "path": "/usr/bin/runsc"
          }
        }
      }

runcmd:
  - az login --identity --allow-no-subscriptions
  - TS_OAUTH_SECRET=$(az keyvault secret show --vault-name kv-edge-pub-westus-1 --name ts-oauth-secret --query value -o tsv)
  - tailscale up --auth-key="${TS_OAUTH_SECRET}?ephemeral=false&preauthorized=true" --ssh --advertise-exit-node --advertise-tags="tag:reverse-proxy"

final_message: "system is up, after $UPTIME seconds"
