{
  "edge_vm_admin_password": {
    "value": "{{ env['TEMP_VM_ADMIN_PASSWORD'] }}"
  },
  "location": {
    "value": "{{ env['LOCATION'] }}"
  },
  "dns_resource_group_name": {
    "value": "rg-dns-pub-{{ env['LOCATION'] }}"
  },
  "edge_vm_resource_group_name": {
    "value": "rg-edge-pub-{{ env['LOCATION'] }}"
  },
  "edge_vm_managed_id_name": {
    "value": "mi-edge-pub-{{ env['LOCATION'] }}"
  },
  "edge_vm_key_vault_name": {
    "value": "kv-edge-pub-{{ env['LOCATION'] }}"
  },
  "tags": {
    "value": {
      "deployment_type": "automated",
      "environment": "public",
      "project": "homelab",
      "purpose": "public-ingress"
    }
  }
}
