name: Ingress Deployment

on:
  push:
    branches:
      - main
    paths:
      - bicep/**
  pull_request:
    branches:
      - '**'

env:
  LOCATION: westus
  TEMPLATE_FILE: ./bicep/main.bicep

jobs:
  deploy:
    permissions:
      id-token: write # require write permission to fetch an OIDC token

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Dry Run
        if: github.event_name == 'pull_request' && contains(github.event.pull_request.changed_files, 'bicep/')
        run: |
          az deployment sub what-if \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.TEMPLATE_FILE }}" \
            --parameters ssh_public_key="${{ secrets.SSH_PUBLIC_KEY }}"

      - name: Deployment
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          az deployment sub create \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.TEMPLATE_FILE }}" \
            --parameters ssh_public_key="${{ secrets.SSH_PUBLIC_KEY }}"
