name: Ingress Deployment

on:
  push:
    branches: [ "main" ]
    paths: [ "bicep/**" ]
  pull_request:
    branches: [ "main" ]

env:
  LOCATION: westus
  TEMPLATE_FILE: ./bicep/main.bicep

jobs:
  deploy:
    permissions:
      id-token: write # require write permission to fetch an OIDC token

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Fetch Secrets
        id: secrets # set an id so we can access the output
        uses: bitwarden/sm-action@v3.0.0-beta.3
        with:
          access_token: ${{ secrets.BITWARDEN_ACCESS_TOKEN }}
          set_env: false # do not set secrets as env vars
          secrets: |
            a2e022b2-6efc-4376-aff6-b3bb0148e797 > AZURE_CLIENT_ID
            af08df26-6767-4b62-ba8e-b3bb01492f1f > AZURE_TENANT_ID
            4b6aeda8-517b-482c-a290-b3bb0149ec82 > AZURE_SUBSCRIPTION_ID
            a1ba5add-9269-407f-a83f-b3bb01497440 > SSH_PUBLIC_KEY
            2c81cc33-4149-44b2-bf6c-b3bc0042eff7 > TS_OAUTH_SECRET

      - name: Render cloud-init.yml
        uses: cuchi/jinja2-action@v1.3.0
        with:
          template: templates/cloud-init.yml.j2
          output_file: ./bicep/cloud-init.yml
        env:
          SSH_PUBLIC_KEY: "${{ steps.secrets.outputs.SSH_PUBLIC_KEY }}"
          TS_OAUTH_SECRET: "${{ steps.secrets.outputs.TS_OAUTH_SECRET }}"

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ steps.secrets.outputs.AZURE_CLIENT_ID }}
          tenant-id: ${{ steps.secrets.outputs.AZURE_TENANT_ID }}
          subscription-id: ${{ steps.secrets.outputs.AZURE_SUBSCRIPTION_ID }}

      - name: Dry Run
        if: github.event_name == 'pull_request'
        run: |
          az deployment sub what-if \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.TEMPLATE_FILE }}"

      - name: Deployment
        if: github.event_name == 'push'
        run: |
          az deployment sub create \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.TEMPLATE_FILE }}"
