name: Deploy DNS

on:
  push:
    branches:
      - main
    paths:
      - modules/dns/**
  pull_request:
    branches:
      - '**'
    paths:
      - modules/dns/**

env:
  RESOURCE_GROUP: rg-dns-pub-westus
  TEMPLATE_FILE: ./modules/dns/main.bicep

jobs:
  deploy-dns:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_DNS }}

      - name: DNS Deployment Dry Run
        if: github.event_name == 'pull_request'
        run: |
          az deployment group what-if \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --template-file "${{ env.TEMPLATE_FILE }}"

      - name: DNS Deployment
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          az deployment group create \
            --resource-group "${{ env.RESOURCE_GROUP }}" \
            --template-file "${{ env.TEMPLATE_FILE }}"
