name: Deploy Edge Resources

on:
  push:
    branches: [ "main" ]
    paths: [ "**/*.bicep" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      dry_run:
        description: 'Perform a dry run (true) or real deployment (false)'
        required: true
        default: 'true'
        type: boolean

env:
  LOCATION: westus
  KEY_VAULT_NAME: kv-edge-pub-westus-1
  KEY_VAULT_TS_OAUTH_SECRET_KEY: ts-oauth-secret
  INIT_TEMPLATE_FILE: ./init.bicep
  DEPLOY_TEMPLATE_FILE: ./deploy.bicep
  SHARED_PARAMETERS_FILE: ./templates/params.shared.json

jobs:
  deploy:
    permissions:
      id-token: write # require write permission to fetch an OIDC token

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Fetch Secrets
        id: secrets # set an id so we can access the output
        uses: bitwarden/sm-action@v3.0.0-beta.3
        with:
          access_token: ${{ secrets.BITWARDEN_ACCESS_TOKEN }}
          set_env: false # do not set secrets as env vars
          secrets: |
            a2e022b2-6efc-4376-aff6-b3bb0148e797 > AZURE_CLIENT_ID
            af08df26-6767-4b62-ba8e-b3bb01492f1f > AZURE_TENANT_ID
            4b6aeda8-517b-482c-a290-b3bb0149ec82 > AZURE_SUBSCRIPTION_ID
            357e0951-4bba-47a9-9e48-b3bd0024684b > TEMP_VM_ADMIN_PASSWORD
            2c81cc33-4149-44b2-bf6c-b3bc0042eff7 > TS_OAUTH_SECRET

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ steps.secrets.outputs.AZURE_CLIENT_ID }}
          tenant-id: ${{ steps.secrets.outputs.AZURE_TENANT_ID }}
          subscription-id: ${{ steps.secrets.outputs.AZURE_SUBSCRIPTION_ID }}

      - name: Dry Run
        if: ${{ github.event_name == 'pull_request' || (github.event_name == 'workflow_dispatch' && inputs.dry_run == true) }}
        run: |
          az deployment sub what-if \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.INIT_TEMPLATE_FILE }}" \
            --parameters "@${{ env.SHARED_PARAMETERS_FILE }}" \
            --parameters key_vault_name="${{ env.KEY_VAULT_NAME }}"
          az deployment sub what-if \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.DEPLOY_TEMPLATE_FILE }}" \
            --parameters "@${{ env.SHARED_PARAMETERS_FILE }}" \
            --parameters edge_vm_admin_password="${{ steps.secrets.outputs.TEMP_VM_ADMIN_PASSWORD }}" \
                key_vault_name="${{ env.KEY_VAULT_NAME }}" tailscale_auth_vault_key="${{ env.KEY_VAULT_TS_OAUTH_SECRET_KEY }}"

      - name: Init Edge Deployment
        if: ${{ github.event_name == 'push'|| (github.event_name == 'workflow_dispatch' && inputs.dry_run == false) }}
        run: |
          az deployment sub create \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.INIT_TEMPLATE_FILE }}" \
            --parameters "@${{ env.SHARED_PARAMETERS_FILE }}" \
            --parameters key_vault_name="${{ env.KEY_VAULT_NAME }}"

      - name: Set Azure Key Vault Secrets
        if: ${{ github.event_name == 'push'|| (github.event_name == 'workflow_dispatch' && inputs.dry_run == false) }}
        run: |
          az keyvault secret set \
            --vault-name "${{ env.KEY_VAULT_NAME }}" \
            --name "${{ env.KEY_VAULT_TS_OAUTH_SECRET_KEY }}" \
            --value "${{ steps.secrets.outputs.TS_OAUTH_SECRET }}"

      - name: Edge Deployment
        if: ${{ github.event_name == 'push'|| (github.event_name == 'workflow_dispatch' && inputs.dry_run == false) }}
        run: |
          az deployment sub create \
            --location "${{env.LOCATION}}" \
            --template-file "${{ env.DEPLOY_TEMPLATE_FILE }}" \
            --parameters "@${{ env.SHARED_PARAMETERS_FILE }}" \
            --parameters edge_vm_admin_password="${{ steps.secrets.outputs.TEMP_VM_ADMIN_PASSWORD }}" \
                key_vault_name="${{ env.KEY_VAULT_NAME }}" tailscale_auth_vault_key="${{ env.KEY_VAULT_TS_OAUTH_SECRET_KEY }}"
