name: Deploy DNS

on:
  push:
    branches:
      - main # Only trigger on pushes to main
  pull_request:
    branches:
      - '**' # Trigger on all PRs for what-if only

env:
  LOCATION: westus
  RESOURCE_GROUP_NAME: rg-edge-pub-westus
  PRIMARY_DNS_ZONE: ppanda.org

jobs:
  deploy-dns:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Run what if DNS Deployment
        if: github.event_name == 'pull_request'
        run: |
          ./deploy.sh \
            "${{ env.RESOURCE_GROUP_NAME }}" \
            "${{ env.LOCATION }}" \
            "${{ env.PRIMARY_DNS_ZONE }}" \
            "WHATIF"

      - name: Run DNS Deployment
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          ./deploy.sh \
            "${{ env.RESOURCE_GROUP_NAME }}" \
            "${{ env.LOCATION }}" \
            "${{ env.PRIMARY_DNS_ZONE }}" \
            "DEPLOY"
